@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

html,
body,
#root {
  min-height: 100%;
  -webkit-font-smoothing: antialiased !important;
  font-family: sans-serif;
  background: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: 602px;
  border: 1px solid #d3d3d3;
  margin: 0 auto;
  flex-direction: row;
}
